.grid-item {
  width: 100%;
  height: 100%;
  display: none;
  position: relative;
}

.circle {
  width: 40px;
  height: 40px;
  cursor: pointer;
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  svg {
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-in-out;
    animation: enter 0.5s ease-in-out;

    &:hover {
      transform: scale(1.2);
    }

    &:active {
      transition: transform 0.1s ease-in-out;
      transform: scale(0.6);
    }
  }

  .desc {
    display: none;
    width: 66px;
    height: 40px;
    padding: 4px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    border-radius: 2px;
    position: absolute;
    z-index: 4;

    &.copy {
      width: 58px;
      height: 24px;
    }
  }
}

@keyframes enter {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes enter {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
